{% extends 'back.html.twig' %}

{% block title %}Nouvel Événement{% endblock %}
{% block page_title %}Nouvel Événement{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('app_evenement_index') }}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{{ path('app_evenement_index') }}">Événements</a></li>
<li class="breadcrumb-item active">Nouveau</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Créer un nouvel événement</h3>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.titre) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.type_evenement) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.date_debut) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.date_fin) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.lieu) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.statut) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.budget_alloue) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Enregistrer
                        </button>
                        <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour
                        </a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
